
<div *ngIf="selectedTravellers" class="travellers">
    <h1>Tour travellers</h1>
  <div *ngFor="let traveller of selectedTravellers">
    <h2>{{traveller.Id }} - {{ traveller.Name }}</h2>
    <div *ngFor="let travellerTrip of travellerTrips" >
      <div *ngIf="traveller.Id === travellerTrip.Id" >
        <table class="table timetable table-striped">
          <tr>
            <th>Company</th>
            <th>Trip Date</th>
            <th>Time Depart</th>
          </tr>
            <tr>
              <td>{{ travellerTrip.Company }}</td>
              <td>{{ travellerTrip.Date | date:'longDate' }}</td>
              <td>{{ travellerTrip.TimeDepart }}</td>
            </tr>
        </table>
        </div>

      </div>
      <hr >
      </div>

    </div>
