
.travellers {
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
}

/*.timetable {
  width: 80%;
}*/

/*table {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

td {
  text-align: left;
  width:100px;
}

th {
  background-color:grey;
  text-align: left;
  color: #fff;
}*/

th {
  text-align: left;
}

th, td {
  width: 25%;
}
